/** {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	background-color: red;
	max-width: 50%;
	margin: 0 auto;
	margin-top: 10%;
	padding: 50px;
	margin-left: 37%;
}

input[type="text"] {
	text-align: center;
	margin: 0;
	width: 50%
}

input[type="password"] {
	text-align: center;
	margin: 0;
	width: 50%
}

input[type="submit"] {
	width: 20%;
	margin-left: 14%;
}*/