body{
    color:red;
    margin: 0;
    padding: 0;
    background: url(https://upload.wikimedia.org/wikipedia/commons/3/35/Lightning.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;   
}

.logout{
    font-size: 30px;
    color: #fff;
    margin-top: 20px;
    margin-right: 20px;
}
.head{
    font-size: 50px;
    color: #fff;
    margin-top: 20px;
    margin-right: 20px;
}

.container1 input[type="submit"]{
   border: none;
    outline: none;
    height: 40px;
    margin-top: 80px;
    margin-bottom: 10px;
    margin-right: 10px;
    background:lightgrey;
    color: #fff;
    width: 400px;
    height: 400px;
    font-size: 18px;
    border-radius: 20px;
}

.container1 input[type="button"]{
    border: none;
    outline: none;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 10px;
    background: lightgrey;
    color: #fff;
    width: 400px;
    height: 400px;
    font-size: 18px;
    border-radius: 20px;
}

.container1 input[type="button"]:hover{
    cursor: pointer;
    background: #7b65ab;
    color: #000;
}

.container1 input[type="submit"]:hover{
    cursor: pointer;
    background: #7b65ab;
    color: #000;
}